
<div th:fragment="head">

	<!-- navbar -->
    <nav class="navbar">

        <div class="logo">SmS</div>

        <!-- Hamburger -->
        <div class="menu-toggle" id="mobile-menu" onclick="toggleMenu()" sec:authorize="isAuthenticated()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <!-- Overlay -->
        <div class="overlay" onclick="toggleMenu()"></div>

        <!-- Navigation Links -->
        <div class="nav-buttons" id="nav-links" onclick="toggleMenu()">

            <div class="control" sec:authorize="isAuthenticated()">
                <a href="">Home</a>
                <a href="">Students</a>
                <a href="">Attendence</a>
                <a href="">Fee</a>
                <a href="">Notice</a>

                <!-- <span class="username">
                    Welcome <span sec:authentication="name"></span>
                </span> -->

                <hr style="width: 100%;">

                <form th:method="POST" th:action="@{/logout}">
                    <button class="btn logout-btn">Logout</button>
                </form>
            </div>

            
        </div>
        <div class="auth-links" sec:authorize="!isAuthenticated()">
           <a th:href="@{/login}" class="btn outline">Login</a>
        </div>
    </nav>
    

</div>