<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/index.css}">
<title>Home</title>
</head>
<body>
    <header>


        <div class="container">

<!-- LOGO SECTION -->

            <div class="logo">
                <div class="la">
                    <img th:src="@{/images/kitlogo.png}" alt="logo">
                </div>
            </div>
            <div class="scroll">
                <span>Welcome To Kashi I. T.</span>
            </div>

<!-- LOGIN BUTTON CECTION -->

            <div class="control">
                <div class="inctl">
                    <div class="ca"><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="" class="cf">Log In</a></div>
<!-- LOGIN AS DROP DOWN MENU -->
                        <div class="loginas">
                            <div class="ls">
                                <h3>Student ?</h3>
                                <a class="ul" href="/login/student_login.html">Login</a>
                            </div>
                            <hr>
                            <div class="ls">
                                <h3>Co-ordinator?</h3>
                                <a href="/login/co-ordinator_login.html">Login</a>
                            </div>
                            <hr>
                            <div class="ls">
                                <h3>Admin ?</h3>
                                <a href="/login/admin_login.html">Login</a>
                            </div>
                        </div>
<!-- -->
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <div class="scrolling">
                <span>Welcome To Kashi I. T.</span>
        </div>

    </header>
    
<script src="https://kit.fontawesome.com/077692c7b0.js" crossorigin="anonymous"></script>
</body>
</html>