body{
            margin:0;
            top: 0;
            /* font-family: Comic Sans MS; */
            background:#fdf6e3;
        }

        /* Navbar */
        nav{
            display: flex;
            background:#4ecdc4;
            padding:15px 0px;
            left: 10px;
            text-align:center;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
            top: 0;
            z-index: 1000;
        }
        nav div{
            margin: 0px 20px;
        }

        .menu-toggle {
            display: none;
            flex-direction: column;
            justify-content: center;
            gap: 6px;
            cursor: pointer;
        }
        
        .bar {
            width: 25px;
            height: 3px;
            background: #000000;
            border-radius: 3px;
            transition: 0.4s ease;
            z-index: 1000;
        }
        
        /* Animate to X */
        .menu-toggle.active .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
            background-color: #ffffff;
        }
        
        .menu-toggle.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .menu-toggle.active .bar:nth-child(3) {
            transform: rotate(-45deg) translate(6px, -6px);
            background-color: #ffffff;
        }
        
        nav a{
            color:white;
            text-decoration:none;
            margin:15px 5px;
            font-size:18px;
            font-weight:bold;
        }

        .nav-buttons a:hover{
            color:#ff7eb3;
        }

        /* Overlay */
        .overlay{
            display: block;
            position:fixed;
            top:0;
            bottom: 0;
            left:-20px;
            width:100%;
            background:rgba(0,0,0,0.7);
            display:none;
            z-index:999;
        }



        .nav-buttons {
            display: flex;
        }

        .btn{
            border-radius: 25px;
            padding: 10px 20px;
            font-size:18px;
            /* font-weight:bold; */
            border: none;
            cursor: pointer;
            color: #000000;
            transition: 0.3s ease;
            margin: 20px;
            background:#ffcc00;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .btn:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            color:#ff7eb3;    
        }

        .control{
            display: flex;
            align-items: center;
            gap: 15px;
        }

        hr{
            display: none;
        }

        /* .auth-links{
            display: flex;
        } */

        header{
            background:linear-gradient(90deg,#ff7eb3,#ff758c);
            text-align:center;
            color:white;
            padding:25px;
        }

        header h1{
            font-size:36px;
        }

        /* Welcome section */

        .welcome{
            text-align:center;
            padding:40px;
        }

        .welcome button{
            padding:12px 25px;
            font-size:18px;
            border:none;
            border-radius:20px;
            background:#ffcc00;
            cursor:pointer;
        }

        .welcome button:hover{
            background:#ffaa00;
        }

        /* Subjects */

        .subjects{
            display:flex;
            justify-content:center;
            gap:20px;
            flex-wrap:wrap;
            padding:30px;
        }

        .card{
            background:white;
            width:200px;
            padding:20px;
            border-radius:15px;
            text-align:center;
            box-shadow:0 5px 10px rgba(0,0,0,0.2);
            transition:0.3s;
        }

        .card:hover{
            transform:scale(1.1);
        }



        /* Footer */

        footer{
            background:#ff758c;
            color:white;
            text-align:center;
            padding:15px;
        }

        @media (max-width: 768px) {

            .menu-toggle {
                display: flex;
            }

            nav{
                height: 40px;
            }
            .nav-buttons {
                position: absolute;
                top: 65px; 
                right: 0%;
                width: 200px;
                background-color: rgb(214, 213, 213);
                color: #000000;
                border-radius: 10px;
                padding: 20px;
                flex-direction: column;
                display: none;
                animation: dropdown 0.5s ease forwards;
                z-index: 1000;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }
            .nav-buttons a{
                color: #000000;
            }

            .nav-buttons.active {
                display: block;
            }
            /* .auth-links{
                display: block;
                margin-top: -20px;
            } */
            /* .auth-links a{
                display: flex;
                padding: 10px 20px;
            } */
            .control {
                flex-direction: column;
                gap: 1px;
            }
            .overlay.active{
                display:block;
            }
            hr{
                display: block;
            }
        }
        @media (max-width: 360px) {

             header h1{
                font-size:30px;
            }
            footer{
                padding:15px 3px;
            }
            
        }

        /* Smooth dropdown animation */
        @keyframes dropdown {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }