<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Enterprise Teacher Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" th:href="@{/teacher_css/index.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
<style>
</style>
</head>

<body>

	<div class="overlay" id="overlay"></div>

	<div class="app-container">
		<aside class="sidebar">
			<div class="logo">
				<div class="logo-icon">
					<i class="fas fa-graduation-cap"></i>
				</div>
				<span>StudyHub <small>Pro</small></span>
			</div>

			<nav class="nav-menu">
				<a href="/teacher" class="nav-item active"><i
					class="fas fa-chart-pie"></i> Overview</a> <a href="/teacher/students"
					onclick="loadPage(event, this.href)" class="nav-item"><i
					class="fas fa-user-friends"></i> Student List</a> <a href="#"
					class="nav-item"><i class="fas fa-book-open"></i> Curriculum</a> <a
					href="#" class="nav-item"><i class="fas fa-clipboard-list"></i>
					Logs</a> <a href="/teacher/students/fees"
					onclick="loadPage(event, this.href)" class="nav-item"><i
					class="fas fa-clipboard-list"></i> Fees</a> <a href="#"
					class="nav-item"><i class="fas fa-headset"></i> Support</a>
			</nav>

			<div class="storage-info">
				<form th:method="POST" th:action="@{/logout}"
					sec:authorize="isAuthenticated()" onsubmit="return confirmLogout()">
					<button class="storage-info">Logout</button>
				</form>
		</aside>

		<main class="main-area">
			<header class="top-header">
				<button class="hamburger" id="menuToggle">
					<i class="fas fa-bars"></i>
				</button>
				<div style="display: flex; align-items: center; gap: 15px;">


					<div class="welcome">
						<h1 text="${teacher.school.name+' Schoool'}">Teacher Control</h1>
						<p>
							<span class="badge"
								th:text="'Welcome '+${#strings.arraySplit(teacher.name, ' ')[0]+' 👋'}+' Date: ' +${dateNow}"></span>

						</p>
					</div>
				</div>


			</header>

			<div id="contentArea">
				<div th:replace="teacher/dashboard :: dash"></div>
			</div>
		</main>
	</div>
	
<script th:src="@{/teacher_js/index.js}"></script>
</body>

</html>